.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

.bar {
    fill: #4571C9;
}
#main {
    margin: 20px;
}